.donut-wrapper{
    width: 100px;
    height: 100px;
}

.donut{
    position: absolute;
    transform: translateY(-30px);
}

.project{
    width: 158px;
    height: 278px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    font-family: "Nunito";
}

.project-name{
    width: 124px;
    height: 38px;
    background: #F4F4F4;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 0 0 25px 0;
    font-weight: 800 !important;
}

.completed-task{
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: 800 !important;
}

.completed-task > p {
    display: block;
    font-size: 1px;
    transform: scale(0.8);
    margin-bottom: 0;
}

.completed-task > span {
    font-size: 20px;
}

.detail-button{
    width: 124px;
    height: 36px;
    border: 0;
    border-radius: 8px 10px 10px 10px;
    font-family: 'Nunito';
    font-weight: 500 !important;
    font-size: 1px;
    color: white;
    background: #FF7C03;
    margin: 15px 0 15px 0;
    box-shadow: 0px 2px 9px rgba(255, 124, 3, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-arrow{
    color: white;
    font-size: 8px;
}