.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.task:hover {
  background-color: #f4f4f4;
}

.selected {
  background: #fff4eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: default;
}

.taskrow-left,
.taskrow-right {
  display: flex;
  align-items: center;
}

.circle-border {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #ff7c03;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ff7c03;
}

.circle-border-done {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #9a4a00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-done {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #9a4a00;
}

.taskName {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 500 !important;
  transform: translateY(1px);
}

.taskName-done {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 500 !important;
  transform: translateY(1px);
  opacity: 0.5;
}

.calorie {
  width: 27px;
  height: 27px;
  border-radius: 9px;
  background-color: #ff7c03;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.calorie-done {
  background-color: #9a4a00;
}

.calorie-text {
  margin: 0px;
  transform: translateX(0.5px) translateY(1px);
  font-size: 13px;
  font-weight: 700 !important;
  color: white;
}

.cooked-percentage-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  width: 65px;
}

.task-icon {
  width: 5px;
  height: auto;
  margin: 0 10px 0 0;
  color: #341900;
  transform: rotate(90deg) scale(-1, 1);
}

.cooked-percentage-text {
  font-size: 14px;
  transform: translateY(1px);
  margin-bottom: 0px;
  font-weight: 700;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65px;
  margin-right: 5px;
}

.date-icon {
  font-size: 16px;
  height: auto;
  color: #341900;
}

.due {
  display: flex;
  justify-content: center;
  width: 40px;
}

.due-text {
  font-size: 14px;
  transform: translateY(1px);
  font-weight: 700;
}

.kebab-icon {
  color: #341900;
  width: 10px;
  transform: scale(0.8);
  margin: 0 10px;
}

.line {
  height: 1px;
  background: #f4f4f4;
}
