.child-tasks {
  width: 20%;
  min-width: 250px;
  height: 100vh;
  background-color: white;
  padding-top: 84px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-top: 24px;
}

.child-tasks-detail {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 33px;
  margin-top: 24px;
  font-family: "Nunito";
  font-weight: 600 !important;
}

.task-name {
  color: #341900;
  font-family: "Nunito";
  font-weight: 700 !important;
  font-size: 20px;
  margin: 0;
}

.kebab {
  color: #341900;
  width: 10px;
  margin-left: 10px;
}

.child-tasks-left,
.child-tasks-right {
  display: flex;
  align-items: center;
  font-family: "Nunito";
  font-weight: 600 !important;
}

.child-percentage,
.fraction,
.child-due,
.manager-name {
  font-size: 13px;
  font-family: "Nunito";
  font-weight: 700 !important;
}

.child-percentage {
  margin-left: 4px;
}

.manager-name {
  margin-left: 4px;
}

.fraction {
  margin: 0 5px;
}

.achieve {
  display: flex;
  align-items: center;
}

.child-task-icon {
  width: 10px;
  height: auto;
  color: #341900;
  transform: rotate(90deg) scale(-1, 1);
  margin-right: 5px;
}

.child-date-icon {
  width: 10px;
  height: auto;
  color: #341900;
  margin: 0 3px 0 5px;
  transform: scale(0.9);
}

.child-manager-icon {
  width: 20px;
  height: auto;
  border-radius: 50%;
}
