.child-task,
.add-task {
  width: 80%;
  height: 30px;
  background: white;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.child-task:hover {
  background: #f4f4f4;
}

.child-task-select {
  width: 80%;
  height: auto;
  background: #fff4eb;
  margin: 10px auto;
  border-radius: 5px;
  padding: 3px 2px 8px 2px;
}

.check-name-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
}

.check-box {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: 2px solid #ff7c03;
  background: white;
}

.check-box-done {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: 2px solid #974a04;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  width: 10px;
  height: 10px;
  color: #974a04;
  transform: scale(0.8) translate(0.5px, 0.5px);
}

.times-icon {
  width: 10px;
  height: 10px;
  color: #ff7c03;
  margin-left: auto;
}

.child-task-name {
  font-size: 15px;
  font-family: "Nunito";
  font-weight: 500 !important;
  margin-left: 10px;
}

.child-task-detail {
  font-size: 13px;
  font-family: "Nunito";
  font-weight: 600 !important;
  margin-left: 31px;
  overflow-wrap: break-word;
}

.add-task-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.add-box {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: 2px solid #ff7c03;
  background: #ff7c03;
  transform: translate(-0.5px, -0.5px);
}

.add-icon {
  width: 10px;
  height: 10px;
  color: white;
  transform: translate(-1px, -9.5px);
}

.add-task-input {
  width: 75%;
  font-size: 15px;
  font-family: "Nunito";
  font-weight: 700 !important;
  margin-left: 10px;
  border: none;
  opacity: 0.8;
  caret-color: grey;
}
