.pieO,
.pieB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  font-family: "Nunito";
  font-weight: 900 !important;
  font-size: 30px;
  color: #341900;
}

.little {
  transform: scale(0.65);
}

.pieO::after {
  content: "";
  position: absolute;
  width: 29.2px;
  height: 29.2px;
  border-radius: 50%;
  background: #ff7c03;
  transform: translateY(-55.1px);
}

.pieB::after {
  content: "";
  position: absolute;
  width: 29.2px;
  height: 29.2px;
  border-radius: 50%;
  background: #9a4a00;
  transform: translateY(-55.1px);
}

.pie-end {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff7c03;
}

.pie-content {
  display: flex;
  align-items: flex-end;
}

.pie-content > span {
  font-size: 10px;
  margin: 10px 1px;
}
