.p-project-stat-box {
  padding: 20px !important;
  background-color: #fff;
  border-radius: 20px;
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin-top: 10px;
  margin-right: 20px;
}

.donut-container {
  margin: 20px 0px;
}

.p-project-name {
  background: #f4f4f4;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  width: 180px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completed-task-wrapper {
  margin: 10px 0px 25px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completed-task-wrapper > p {
  font-size: 12px;
  margin-bottom: 0;
}

.completed-task-wrapper > span {
  font-size: 24px;
}

.detail-btn {
  padding: 10px !important;
  width: 180px;
  border-radius: 12px !important;
  border: none !important;
  background-color: #ff7c03 !important;
  transition: background-color 0.1s;
  align-items: center !important;
  font-family: "Nunito", sans-serif;
  font-weight: 700 !important;
  color: white;
  box-shadow: 0px 2px 10px rgba(255, 124, 3, 0.3);
  display: flex !important;
  justify-content: space-around;
  position: relative;
  align-items: center;
}

.detail-btn:hover {
  background-color: #eb7100 !important;
}

.detail-btn > p {
  font-size: 14px;
  margin-bottom: 0px;
}

.detail-btn:focus,
.detail-btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.right-arrow {
  color: white;
  font-size: 14px;
  position: absolute;
  right: 14px;
  margin: auto;
}

.link {
  text-decoration: none !important;
}
