.header-outer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 84px;
  align-items: center;
  padding: 0px 20px;
  background-color: white;
}

.header-left-wrapper {
  display: flex;
  align-items: center;
}

.essential-btn {
  border: none !important;
  background-color: #ff7c03 !important;
  padding: 0px 24px !important;
  font-family: "Nunito";
  border-radius: 12px !important;
  font-size: 14px !important;
  color: white;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  box-shadow: 0px 4px 8px 0px rgba(255, 124, 3, 40%);
}

.essential-btn:focus,
.essential-btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-label {
  margin: 0px;
  margin-left: 16px;
}

.title {
  font-family: "Nunito-Black";
  font-size: 24px;
  color: #ff7c03;
  margin: 0 !important;
  margin-right: 36px !important;
}

.selectedTabButton {
  border: none !important;
  background-color: rgba(255, 124, 3, 8%) !important;
  padding: 0px 24px !important;
  font-family: "Nunito-Bold";
  border-radius: 12px !important;
  font-size: 14px !important;
  color: #ff7c03 !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  outline: none !important;
  margin-right: 24px;
}

.selectedTabButton:focus,
.selectedTabButton:active {
  outline: none !important;
  box-shadow: none !important;
}

.unselectedTabButton {
  border: none !important;
  background-color: #f4f4f4 !important;
  padding: 0px 24px !important;
  font-family: "Nunito-Bold";
  border-radius: 12px !important;
  font-size: 14px !important;
  color: #341900 !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  outline: none !important;
  margin-right: 24px;
}

.unselectedTabButton:focus,
.unselectedTabButton:active {
  outline: none !important;
  box-shadow: none !important;
}
