.graph {
  width: 421px;
  height: 180px;
  background: white;
  border-radius: 30px;
  padding: 16px 25px;
  font-family: "Nunito";
}

.graph-title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 10px;
}

.graph-contents {
  width: 100%;
  height: auto;
  position: relative;
}

.glid-line-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.glid-line {
  margin-bottom: 16px;
}

.glid-line-end,
.glid-line {
  width: 95%;
  height: 1px;
  background: #f4f4f4;
  margin-left: auto;
  margin-right: auto;
}

.bar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 86px;
}

.bar {
  width: 6px;
  border-radius: 3px 3px 0 0;
  background: #ff7c03;
  z-index: 1;
}

.tail-wrapper {
  display: flex;
  justify-content: space-around;
}

.tail {
  width: 2px;
  height: 5px;
  background: #341900;
}

.week {
  display: flex;
  justify-content: space-around;
}

.date-wrapper {
  width: 6px;
  display: flex;
  justify-content: center;
}

.date {
  color: #341900;
  font-size: 10px;
  font-weight: 700;
}
